.container-app {
    background-color: transparent;

    .layout-app {
        background-color: var(--purple-color);
        height: 280px;
        width: 100%;
        position: absolute;
        top: 355px;
        z-index: -1;
    }
}