.container-header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 4rem;
    border-bottom: 1px solid var(--purple-color);
    align-items: center;

    article {
        display: flex;
        align-items: center;   
        
        &.header-head {
            h1 {
                color: var(--purple-color);
            }

            .nav-bar {
                display: flex;
                margin: 0 0 0 4rem;

                li {
                    margin: 0 1rem;
                    list-style-type: none;
                    
                    &:hover {
                        cursor: pointer;
                        color: var(--purple-color);
                    }
                }
            }
        }

        &.header-main {
            button {
                padding: 0.8rem 2rem;
                background-color: var(--orange-color);
                border-radius: 1.5rem;
                border: transparent;
                color: white;
                font-weight: 800;
            }
            .mobile {
                display: none;
                margin-left: 1.5rem;
                font-size: 30px;
                height: 30px;
            }
        }
    }
}

@media (max-width:999px) {
    .container-header {
        padding: 1.5rem 2rem;

        article {
            &.header-head {
                .nav-bar {
                    display: none;
                }
            }
            &.header-main {
                .mobile {
                    display: block;
                }
            }
        }
    }
}